<!DOCTYPE html>
<html>
  <head>
    <title>Event Management App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
      </ul>
    </nav>
    <main>
      {% block content %}{% endblock %}
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>